{% extends 'base.html' %}
{% load static %}


{% block content %}

<style>
  .member-desc {
    text-align: justify !important;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  .card.h-100.text-center.p-3 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  .about-justify {
    text-align: justify !important;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
</style>

<section class="home-section section-hero inner-page overlay bg-image"
      style="background-color:#00FFFF;" id="home-section">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">About Us</h1>
              <p>Find your dream jobs in our powerful career website .</p>
            </div>
          </div>
        </div>
      </div>
    </section>


     <section class="site-section pb-0">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
              <img src="/static/images/SS_1.png" alt="Image" class="img-fluid img-shadow">
          </div>
          <div class="col-lg-5 ml-auto">
            <h2 class="section-title mb-3">Paths for Your Future</h2>
            <p class="about-justify">Opportunities arise when ambitions align with passion, 
              though challenges may blur the lines between effort and reward. 
              Those who pursue growth despite uncertainty live more fully. Embrace the journey. 
              Success will never come to those who avoid the struggle, 
              for it is through choice and commitment that dreams take shape. In this fast-changing world, 
              perseverance is the key that unlocks the door to endless possibilities.!</p>
          </div>
        </div>
      </div>
    </section>


    <section class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h1 class="section-title mb-3">Meet Our Team Members</h1>
          </div>
        </div>

        <div class="row align-items-center block__69944">

          <div class="col-md-6 mb-4">
            <div class="card h-100 text-center p-3">
              <img src="/static/images/Ja_1-removebg-preview.png" alt="Shakhawat" class="img-fluid mb-3 rounded mx-auto" style="max-width: 180px;">
              <h3>Md. Jabir Mahmud</h3>
              <p class="text-muted">Student at ICE, RU</p>
              <p class="member-desc">Hi, I am Jabir Mahmud Limon. As a member of the Career Connect development team, I focused on making job searching simpler and smarter.
                 I love applying technology to real challenges and designing solutions that are easy and effective for users. In my spare time, 
                 I enjoy picking up new tech skills and experimenting with fresh ideas. I'm proud to be part of this dynamic and forward-thinking team.</p>
              <div>
                <a href="https://www.facebook.com/share/1PAygXbaGv/"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
                <a href="#"><span class="icon-github"></span></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="card h-100 text-center p-3">
              <img src="/static/images/saka.jpg" alt="Nibir" class="img-fluid mb-3 rounded mx-auto" style="max-width: 180px;">
              <h3>Md. Shakhawat Hossen</h3>
              <p class="text-muted">Student at ICE, RU</p>
              <p class="member-desc">Hi, I’m Md Sakhawat Hossen, a third-year Information and Communication Engineering student at Rajshahi University. 
                I helped develop Career Connect to make job searching easier and more efficient. I enjoy using technology to solve problems
                 and create user-friendly solutions. In my free time, I like learning new tech skills. I’m excited to be part of this project and team.</p>
              <div>
                <a href="https://www.facebook.com/share/14EDzchtzNK/"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
                <a href="#"><span class="icon-github"></span></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="card h-100 text-center p-3">
              <img src="/static/images/Mosi.png" alt="Mosibul" class="img-fluid mb-3 rounded mx-auto" style="max-width: 180px;">
              <h3>Md. Mosibul Alam</h3>
              <p class="text-muted">Student at ICE, RU</p>
              <p class="member-desc">Hello, I'm Moshibul Alam. Working on Career Connect gave me the opportunity to help make job hunting more accessible and efficient. 
                I have a strong interest in solving problems through technology and always aim to build solutions that are both practical and user-friendly. Outside of work, 
                I like expanding my knowledge of new tech trends and tools. I’m excited to contribute to this project and grow with the team.</p>
              <div>
                <a href="https://www.facebook.com/share/19Kp6JfeK2/"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
                <a href="#"><span class="icon-github"></span></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="card h-100 text-center p-3">
              <img src="/static/images/nibi.png" alt="Jabir" class="img-fluid mb-3 rounded mx-auto" style="max-width: 180px;">
              <h3>Md. Nibir Hasan</h3>
              <p class="text-muted">Student at ICE, RU</p>
              <p class="member-desc">Hello, I'm Nibir. I contributed to the development of Career Connect to streamline the job search experience and make it more efficient for users.
                 I’m passionate about using technology to solve real-world problems and enjoy building intuitive, user-friendly solutions. In my free time, I like exploring new tech tools and skills.
                  I’m thrilled to be part of this innovative project and collaborative team.</p>
              <div>
                <a href="https://www.facebook.com/share/1B6EfkL7MK/"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
                <a href="#"><span class="icon-github"></span></a>
              </div>
            </div>
          </div>


        </div>

    </section>


{% endblock %}
